<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-online-check-id" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>indentifyCardUtil</name>
    <js-module name="indentifyCardUtil" src="www/indentifyCardUtil.js">
        <clobbers target="indentifyCardUtil" />
    </js-module>

    <platform name="android">  <!-- 平台类型 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="indentifyCardUtil">  <!-- JS调用时的前缀名字 -->
                <param name="android-package" value="com.gsst.cordova.util.IdentifyCardUtil"/> <!-- .java类名全路径 -->
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.NFC" />

            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>

        <source-file src="src/android/senter20170424SO.jar" target-dir="libs"/>
        <source-file src="src/android/abneabi-v7.jar" target-dir="libs"/>
        <source-file src="src/android/src/IdentifyCardUtil.java" target-dir="src/com/gsst/cordova/util" />
        <source-file src="src/android/src/BlueReaderHelper.java" target-dir="src/com/gsst/cordova/util" />
        <!-- src:java源文件的路径， target-dir:插件安装好后，源文件的位置，要和上面的包名对应 -->
    </platform>

</plugin>
